# dependencies
node_modules
.pnpm-store

# turbo
.turbo

# builds
dist
*.tsbuildinfo

# misc
*.log
.DS_Store

# env
.env
.env*.local

# next
.next
next-env.d.ts
.env.local
.reactor-dev-sessions.json
.reactor-dev-sessions.json.*.tmp
